<div class="mb-6 px-5 py-4 rounded-lg bg-neutral-50 flex justify-between items-center">
  <p>
    Signed in as

    <strong>
      <%= current_company_name %>
    </strong>
  </p>

  <%= link_to "Sign out", new_session_path, class: "font-medium text-red-600 hover:text-red-700" %>
</div>

<h1 class="h1 mb-6">New bid</h1>

<%= form_with model: @bid, url: new_bid_path, method: :get, data: { controller: "auto-submit" } do |f| %>
  <h2 class="h2 mb-4">Route</h2>

  <div class="mb-6 grid grid-cols-2 gap-3">
    <% Bid::ROUTES.each do |route, (origin, destination)| %>
      <label class="col-span-2 md:col-span-1 radio-card">
        <%= f.radio_button :route, route,
          data: { action: "auto-submit#submit" },
          class: "opacity-0 fixed pointer-events-auto" %>
        <%= origin %>
        <span class="text-neutral-500 mx-1">→</span>
        <%= destination %>
      </label>
    <% end %>
  </div>

  <h2 class="h2 mb-4">Load</h2>

  <div class="mb-6 grid grid-cols-3 gap-3">
    <% Bid::LOADS.each do |load| %>
      <label class="radio-card">
        <%= f.radio_button :load, load,
          data: { action: "auto-submit#submit" },
          class: "opacity-0 fixed" %>
        <%= pluralize load, "pallet" %>
      </label>
    <% end %>
  </div>
<% end %>

<% if @job %>
  <%= form_with model: @bid, url: bids_path, method: :post do |f| %>
    <%= f.hidden_field :route, value: @bid.route %>
    <%= f.hidden_field :load, value: @bid.load %>

    <div class="mb-4 flex items-center">
      <h2 class="h2 mr-3">Bid</h2>
      <div class="badge badge-lg badge-outline badge-neutral border-neutral-300 text-sm font-medium">
        Max price: $1,000
      </div>
    </div>

    <div class="mb-6 space-y-4">
      <div class="flex justify-between items-center text-lg">
        <p>Lowest bid</p>
        <div>
          <% if @job.lowest_bid %>
            <p class="text-xl font-semibold tabular-nums">
              <%= number_to_currency @job.lowest_bid.price, precision: 0 %>
            </p>
          <% else %>
            <p class="text-xl font-semibold tabular-nums">No bids yet</p>
          <% end %>
        </div>
      </div>

      <div class="flex justify-between items-center text-lg">
        <div class="flex items-center gap-x-3">
          <p>Your bid</p>

          <% if @bid.company_name == @job.lowest_bid&.company_name %>
            <div class="badge badge-lg badge-primary text-sm font-medium">
              <svg class="size-4 mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
              Lowest
            </div>
          <% end %>
        </div>

        <div class="text-xl font-semibold tabular-nums">
          <%= f.number_field :price, value: @bid.price,
            placeholder: @job.lowest_bid&.price, required: true,
            class: "text-right text-xl input input-bordered w-28" %>
        </div>
      </div>
    </div>

    <%= f.submit "Submit bid", class: "btn btn-primary btn-lg w-full" %>
  <% end %>
<% end %>
