<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Loadar" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="text-neutral-900 antialiased">
    <div class="max-w-screen-sm p-4 md:p-8 pb-16 mx-auto">
      <div class="mb-6 flex justify-between items-center">
        <%= link_to new_session_path do %>
          <%= image_tag "logo.svg", class: "h-12" %>
        <% end %>

        <%= button_to "Reset data", resets_path, data: { turbo_confirm: "Are you sure?" }, class: "text-sm font-medium text-neutral-300 hover:text-red-600" %>
      </div>

      <%= yield %>
    </div>

    <div class="p-4">
      <% if flash.any? %>
        <div class="toast toast-end">
          <% flash.each do |_type, message| %>
            <div class="alert" data-controller="auto-dismiss">
              <span><%= message %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
